/*.header {*/
/*  padding: 2rem;*/
/*  display: flex;*/
/*  !*justify-content: center;*!*/
/*}*/

.list {
  display: flex;
 margin-left: 350px;
  margin-bottom: 15px;

}

.list a {
  background-color: #b56bd7;
  color: var(--color-gray-900);
  padding: 10px 10px;
  border-radius: 4px;
  text-decoration: none;
}

.list a:hover,
.list a:active,
.list a.active {
  /*background-color: var(--color-primary-600);*/
    background-color: #b9298b;
}
