/*.header-profile {*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*    margin-top: -80px;*/
/*    margin-left: -250px;*/
/*}*/

/*.cover-photo {*/
/*    width: 900px; !* Take half of the header *!*/
/*    height: 300px; !* Adjust as needed *!*/
/*    background-color: lightblue; !* Placeholder color *!*/
/*    border-top-left-radius: 25px;*/
/*}*/
/*.description {*/
/*    width: 500px; !* Take half of the header *!*/
/*    height: 300px; !* Adjust as needed *!*/
/*    border-top-right-radius: 25px;*/
/*    margin-left: 5px;*/
/*    border-left: 5px solid;*/
/*    background-color: #aec518;*/
/*}*/
/*.cover {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
/*.wrap {*/
/*    align-items: flex-start;*/
/*    width: 1400px; !* Adjust as needed *!*/
/*    border: 4px solid #adb7e6;*/
/*    border-radius: 25px;*/
/*    margin-left: 50px;*/
/*}*/

/*.profile-picture-section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 50%; !* Take the other half of the header *!*/
/*}*/

/*.profile-picture-circle {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border: 5px solid black;*/
/*    border-radius: 50%; !* Creates a circle *!*/
/*    background-color: lightgray; !* Placeholder color *!*/
/*}*/

/*.profile-info {*/
/*    margin-top: 10px;*/
/*    text-align: center;*/
/*}*/

/*.action-buttons {*/
/*    margin-top: 20px;*/
/*}*/

/*.action-buttons button {*/
/*    margin: 0 10px;*/
/*}*/









/*html,body {*/
/*    background: #efefef;*/
/*    font-family: "Arial";*/
/*}*/












.container {
    border: 2px solid #b56bd7;
    max-width: 1250px;
    margin: 20px auto;
    padding: 0 !important;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
}

.main {
    padding: 20px 20px 0px 20px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo {
    width: 200px;
    height: 200px;
    /*margin-top: -120px;*/
    border-radius: 100px;
    border: 4px solid #fff;
    position: relative;
    top: 20px; /* Move the photo 50px down from its normal position */
    right: 480px
}


@media (max-width:990px) {
    .active {
        right: calc(50% - 60px);
        top: 50px;
    }
}

.name {
    margin-top: -180px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    color: #777;
}

.info {
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #aaa;
}

.stats {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    justify-content: center;
}


.number-stat {
    padding: 0px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #aaa;
}

.desc-stat {
    margin-top: -15px;
    font-size: 10pt;
    color: #bbb;
}

.desc {
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 11pt;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
}

/*.social {*/
/*    margin: 5px 0 12px 0;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    font-size: 20pt;*/
/*}*/

/*.social i {*/
/*    cursor: pointer;*/
/*    margin: 0 15px;*/
/*}*/

/*.social i:nth-child(1)  { color: #4267b2; }*/
/*.social i:nth-child(2)  { color: #1da1f2; }*/
/*.social i:nth-child(3)  { color: #bd081c; }*/
/*.social i:nth-child(4)  { color: #36465d; }*/
.addAndEditButton {
    display: inline-flex;
    gap: 25px;
    margin-left:300px;
    margin-bottom:10px;
}

/*.addAndEditButton li{*/
/*   padding:20px 20px;*/
/*}*/
.right {
    padding: 0 25px 0 25px !important;
}

.nav {
    display: inline-flex;
    margin-bottom:-10px;

}

.nav li {
    /*margin: 30px 30px 0 10px;*/
    margin-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
}

.nav li:hover, .nav li:nth-child(1)  {
    color: #999;
    border-bottom: 2px solid #999;
}

.follow {
    position: absolute;
    right: 8%;
    top: 35px;
    font-size: 11pt;
    background-color: #42b1fa;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: all .4s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.follow:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
}

@media (max-width:990px) {
    .nav {
        display: none;
    }

    .follow {
        width: 50%;
        margin-left: 25%;
        display: block;
        position: unset;
        text-align: center;
    }
}
/*.gallery  {*/
/*    margin-top: 35px;*/
/*}*/

/*.gallery div {*/
/*    margin-bottom: 30px;*/
/*}*/

/*.gallery img {*/
/*    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);*/
/*    width: auto;*/
/*    height: auto;*/
/*    cursor: pointer;*/
/*    max-width: 100%;*/
/*}*/

