.header {
    /*margin-top: 55px;*/
    padding: 1rem;
    /*position: absolute;*/
    display: flex;
    justify-content: space-between;
    background-color: #392249;
}

.profile-photo-container{
}


header a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between list items */
}


.list a {
    color: var(--color-primary-400);
    display: inline-block;
}

.list a:hover,
.list a.active {
    color: var(--color-primary-800);
}

.NameAppSearch {
    list-style: none;
    padding-top: -50px;
    margin: -15px;

}

.NameAppSearch li{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none; /* Remove underline */
}

