.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #223649;

}

.list {
  position: absolute;
  left: 1px;
  display: flex;
  gap: 1rem;


}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.profile{
  position: absolute;
  left: 1000px;
  padding-top: 3px;
  color: var(--color-primary-800);

}

